.pic{
    width: 300px;
    height: 200px;
    border-radius: 100px;

}
/* element:firstsection::{


justify::content; 

    display: flex;
    background-color: bisque;
    justify-content: center;
} */
    
h3
{color: blueviolet;



}
    
    


    .cover{
width: 200px
    height 200px;
margin: 20px; 
border-radius :30px;
color: white;
 color: 2;
color: black;
position: 2px;
    margin: right 20px  ;
    display: flex
}
     

